/* Common button styles */
.gradient-button {
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
}

/* Blue button */
.gradient-button.blue {
  background: linear-gradient(to bottom, #007bff, #0056b3);
  color: white;
}

/* Red button */
.gradient-button.red {
  background: linear-gradient(to bottom, #ff3547, #d60000);
  color: white;
}

/* Green button */
.gradient-button.green {
  background: linear-gradient(to bottom, #4caf50, #45a049);
  color: white;
}

/* Hover effect for all buttons */
.gradient-button:hover {
  transform: scale(1.05);
}

/* Warning card for invalid JSON */
.invalid-json {
  border: 1px solid #ffc107;
  background-color: #fff3cd;
  color: #856404;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.valid-json {
  border: 1px solid #049d20;
  background-color: #4caf50;
  color: black;
  font-weight: 500;
  font-size: 16px;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.warning-icon {
  color: #ffc107;
  font-size: 24px;
  margin-right: 10px;
}

/* Textarea styles */
textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  height: auto;
  font-size: 14px;
}

/* Button container styles */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Disabled button styles */
.disabled-button {
  cursor: not-allowed;
  opacity: 0.7;
}

/* Styling for the container */
.container {
  display: flex;
  justify-content: space-between;
  min-width: 80vw;
}

/* Styling for the data boxes */
.data-box {
  flex-grow: 1; /* Allow data boxes to grow equally */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: linear-gradient(
    to bottom,
    #f7f7f7,
    #e1e1e1
  ); /* Cached data background */
  margin: 10px;
}

/* Styling for the buttons within data boxes */
.data-box button {
  margin-top: 10px;
}
/* Styling for the tables */
.data-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.data-table th,
.data-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.data-table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

/* Styling for the cached data box */
#cached-data-box {
  background: linear-gradient(to bottom, #e72424, #e72421);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin: 10px;
  color: black;
}

/* Styling for the MongoDB data box */
#mongodb-data-box {
  background: linear-gradient(to bottom, #52e352, #52e351);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin: 10px;
  color: black;
}
