body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: #323232;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h2 {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

button {
  display: inline-block;
  margin: 10px;
  background: linear-gradient(135deg, #ff6b81, #ffb88c);
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  transition: background 0.3s, transform 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background: linear-gradient(135deg, #ff6b81, #ff88b2);
  transform: scale(1.05);
}

input[type="file"] {
  display: block;
  margin: 10px auto;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  max-width: 300px;
  font-size: 12px;
  color: #fff;
}

.progress {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.api-call-tracker {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .container {
    padding: 15px;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 20px;
  }
  button {
    padding: 10px 20px;
    font-size: 12px;
  }
}
